dlmod	RmondMIB	/usr/lib64/rmond/rmond.so
view	systemview	included	.1.3.6.1.4.1

rwcommunity parallels   127.0.0.1       .1.3.6.1.4.1.26171
rwcommunity parallels   {{ my_cluster_network }}     .1.3.6.1.4.1.26171
